name: Vehicle-insurance-predictor-pipeline

on:
  push:
    branches:
      - master

jobs:
  integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t prabhat2101/vehicle-insurance-predictor:latest .

      - name: Push Docker image to Docker Hub
        run: |
          docker push prabhat2101/vehicle-insurance-predictor:latest
