name: Vehicle-insurance-predictor-pipeline

on:
  push:
    branches:
      - main

jobs:
  integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Set short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build \
            -t prabhat2101/vehicle-insurance-predictor:$SHORT_SHA \
            -t prabhat2101/vehicle-insurance-predictor:latest \
            .

      - name: Push Docker images
        run: |
          docker push prabhat2101/vehicle-insurance-predictor:$SHORT_SHA
          docker push prabhat2101/vehicle-insurance-predictor:latest
